.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart__name {
  color: rgb(212, 46, 157);
}

.amount {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1.25vw;
  margin: 0 1% 0 1%;
}
