.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  height: 45vh;
}

.card__title {
  margin-top: 12%;
  margin-bottom: 0;
}

.card__auth {
  margin-top: 3px;
}

.card__desc {
  width: 80%;
}

.card__button {
  color: #ffffff;
  background-color: turquoise;
  margin-top: auto;
  margin-bottom: 10%;
  border-style: none;
  height: 15%;
  width: 35%;
  border-radius: 6px;
}
